.custom-button1 {
    background-image: url('/assets/m1.png');
    background-size: cover;
    width: 4cm;
    height: 5cm;
}
.custom-button2 {
    background-image: url('/assets/m2.png');
    background-size: cover;
    width: 4cm;
    height: 5cm;
}
.custom-button3 {
    background-image: url('/assets/m3.png');
    background-size: cover;
    width: 4cm;
    height: 5cm;
}
.custom-button4 {
    background-image: url('/assets/m4.png');
    background-size: cover;
    width: 4cm;
    height: 5cm;
}
.custom-button5 {
    background-image: url('/assets/5.png');
    background-size: cover;
    width: 4cm;
    height: 5cm;
}
.custom-button6 {
    background-image: url('/assets/6.png');
    background-size: cover;
    width: 4cm;
    height: 5cm;
}
.custom-button7 {
    background-image: url('/assets/7.png');
    background-size: cover;
    width: 4cm;
    height: 5cm;
}
.custom-button8 {
    background-image: url('/assets/8.png');
    background-size: cover;
    width: 4cm;
    height: 5cm;
}

.custom-button9 {
    background-image: url('/assets/9.png');
    background-size: cover;
    width: 4cm;
    height: 5cm;
}
.custom-button10 {
    background-image: url('/assets/10.png');
    background-size: cover;
    width: 4cm;
    height: 5cm;
}
.custom-button11 {
    background-image: url('/assets/11.png');
    background-size: cover;
    width: 4cm;
    height: 5cm;
}
.custom-button12 {
    background-image: url('/assets/12.png');
    background-size: cover;
    width: 4cm;
    height: 5cm;
}
.custom-button13 {
    background-image: url('/assets/13.png');
    background-size: cover;
    width: 4cm;
    height: 5cm;
}
.custom-button14 {
    background-image: url('/assets/14.png');
    background-size: cover;
    width: 4cm;
    height: 5cm;
}
.custom-button15 {
    background-image: url('/assets/15.png');
    background-size: cover;
    width: 4cm;
    height: 5cm;
}
.custom-button16 {
    background-image: url('/assets/16.png');
    background-size: cover;
    width: 4cm;
    height: 5cm;
}

.custom-button-clicked {
    background-color: grey;
    background-size: cover;
    width: 4cm;
    height: 5cm;
}